{%extends 'base.html'%}
{%block title%}Contact{%endblock%}

{%block content%}
{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{%static '/css/cont.css' %}">
</head>

<body>
    <div class="bord">
<center>
    <h3>Information Desk</h3>

    <p>0484 2402044- Cardiology Advance Booking</p>
    <p>0484 2401821, 0484 2755305 Health Checkup</p>
    <p>9497713386, 0484 2755099 (Ext. 5099) Emergency Department & Ambulance</p>
    <p>9895756164, 0484 2755301 Gynecology Emergency Department</p>
    <p>0484 2755151 (Ext 4004) Radiology & Imaging LIRRIS</p>
    <p>9846057184, 0484 2400811 (Ext: 3100) Service Available 24X7 Public Relations Services</p>
    <p>9895756164, 0484 2755301 Insurance Office</p>
    <p>0484 2755386, 0484 2755306 Hemodialysis</p>
    <p>0484 2755337 Pharmacy</p>
    <p>0484 2755039 Laboratory Services</p>
    </div>
</body>

</html></center>

{%endblock%}