{%extends 'base.html'%}
{%block title%}Contact{%endblock%}

{%block content%}
{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{%static '/css/cont.css' %}">
</head>

<body>
    <div class="bord">

    <h3>Information Desk</h3>

    <p1>0484 2402044- Cardiology Advance Booking</p1>
    <p2>0484 2401821, 0484 2755305 Health Checkup</p2>
    <p3>9497713386, 0484 2755099 (Ext. 5099) Emergency Department & Ambulance</p3>
    <p4>9895756164, 0484 2755301 Gynecology Emergency Department</p4>
    <p5>0484 2755151 (Ext 4004) Radiology & Imaging LIRRIS</p5>
    <p6>9846057184, 0484 2400811 (Ext: 3100) Service Available 24X7 Public Relations Services</p6>
    <p7>9895756164, 0484 2755301 Insurance Office</p7>
    <p8>0484 2755386, 0484 2755306 Hemodialysis</p8>
    <p9>0484 2755337 Pharmacy</p9>
    <p10>0484 2755039 Laboratory Services</p10>
    </div>
</body>

</html>

{%endblock%}